/* photo frame
-----------------------------------------*/
/*--------------------------------------------------------------
# Initial
--------------------------------------------------------------*/
body {
  background: black; }

/* anchor
-----------------------------------------*/
a, a:link, a:visited, a:active {
  color: #FFF; }

a:hover {
  color: #FFF; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  color: #FFF; }

/* site-header-mask
-----------------------------------------*/
#images-mask {
  background: rgba(0, 0, 0, 0.6); }

/* site-header-background
-----------------------------------------*/
#header-background {
  background: rgba(0, 0, 0, 0.6); }

/* site-header
-----------------------------------------*/
#masthead {
  position: relative;
  z-index: 1; }

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
.site-title {
  border-color: #FFF; }

.site-branding {
  text-shadow: 1px 1px 0px #000; }

#primary-inner {
  border: #FFF 1px solid;
  background: rgba(0, 0, 0, 0.5); }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar-nav {
  border-left: #FFF 1px solid; }

.navbar-nav li a {
  border-top: #FFF 1px solid;
  border-bottom: #FFF 1px solid;
  border-right: #FFF 1px solid; }

.navbar-nav li a:hover, .navbar-nav li a:focus {
  text-decoration: none;
  color: #000;
  background: white; }

.navbar-nav li > ul {
  background: black;
  border-top-color: #FFF;
  border-left-color: #FFF; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area .widget {
  background: rgba(0, 0, 0, 0.5);
  border-left: #FFF 1px solid;
  border-right: #FFF 1px solid;
  border-bottom: #FFF 1px solid; }
  .widget-area .widget:first-child {
    border-top: #FFF 1px solid; }

/*--------------------------------------------------------------
# Enrty
--------------------------------------------------------------*/
.entry-title {
  border-bottom: 1px solid #FFF; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  color: #000; }

/*--------------------------------------------------------------
# Comment
--------------------------------------------------------------*/
.comments-area {
  border-top: 1px solid #FFF; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  border-top: 1px solid #FFF; }

/*--------------------------------------------------------------
# PhotoFrame
--------------------------------------------------------------*/
.bg-photo-frame-blur-text {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: blur(3px);
  -webkit-filter: blur(5px); }

/* Button
--------------------------------------------------------------*/
.bg-photo-frame-btn {
  color: #FFF !important;
  background: rgba(0, 0, 0, 0.75) !important; }

/*
.bg-photo-frame-btn:hover{
	background:rgba($baseColorDark,$baseColorDark,$baseColorDark,$btn-transparent-hover) !important;
}
*/
.bg-photo-frame-btn:hover {
  color: #000 !important;
  background: white !important; }

.bg-photo-frame-btn:focus {
  color: #000 !important;
  background: white !important; }

/* Toggle
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------------------------*/
#bg-photo-frame-timer-btn .bg-photo-frame-text {
  color: #999; }

#bg-photo-frame-timer-btn.on .bg-photo-frame-text {
  color: #FFF; }

/* Thumbnail
--------------------------------------------------------------*/
#bg-photo-frame-thumb-thumbs {
  background: rgba(0, 0, 0, 0.75) !important; }

#bg-photo-frame-thumb-thumbs a {
  border-color: #000 !important; }

#bg-photo-frame-thumb-thumbs a:hover, #bg-photo-frame-thumb-thumbs a:focus {
  border-color: #FFF !important; }
