/* Scss Document */
.navbar-nav {
  margin: 7.5px 0px; }

@media screen and (max-width: 782px) {
  /*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
  /* site-wrapper
-----------------------------------------*/
  #site-wrapper {
    padding: 12px;
    width: auto; } }
