/* CSS Document */
/* Scss Document */
/*--------------------------------------------------------------
# Initial
--------------------------------------------------------------*/
body {
  background: black; }

/* anchor
-----------------------------------------*/
a, a:link, a:visited, a:active {
  color: #FFF; }

a:hover {
  color: #FFF; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  text-shadow: 1px 1px 0px #000;
  color: #FFF; }

/* site-wrapper
-----------------------------------------*/
#site-wrapper {
  background: rgba(0, 0, 0, 0.5); }

/* site-header
-----------------------------------------*/
#masthead {
  position: relative;
  z-index: 1; }

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
.site-title {
  border-color: #FFF; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar-nav > li > a:hover {
  text-shadow: none;
  color: #000;
  background: white; }
