/* CSS Document */
/* Scss Document */
/*--------------------------------------------------------------
# Initial
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
#page {
  z-index: 1; }

#wrapper {
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
  z-index: 1; }

/*hedaer-image
-----------------------------------------*/
#header-image {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; }

#header-image ul {
  display: none;
  margin: 0;
  padding: 0; }

#header-image li {
  margin: 0;
  padding: 0;
  list-style: none; }

/* site-wrapper
-----------------------------------------*/
#site-wrapper {
  margin: 0;
  padding: 21px;
  z-index: 1;
  position: relative;
  width: auto; }

#site-wrapper-inner {
  position: relative;
  width: 100%; }

/* site-header
-----------------------------------------*/
#masthead {
  position: relative;
  z-index: 1; }

.site-title {
  font-size: 36px;
  line-height: 1em;
  margin-bottom: 0.1em;
  padding-bottom: 0.1em; }

.site-title a:hover {
  text-decoration: none; }

.site-description {
  padding-bottom: 1em;
  margin-bottom: 3em;
  border-bottom-style: solid;
  border-bottom-width: 1px; }

/* content
-----------------------------------------*/
#content {
  position: relative;
  z-index: 1; }

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
.flip {
  display: block;
  width: 48px;
  height: 48px;
  background: #FFF;
  position: fixed;
  top: 4%;
  right: 4%;
  z-index: 1000; }

.logged-in .flip {
  top: 7%; }
