/* CSS Document */
/* Scss Document */
/* photo frame
-----------------------------------------*/
/*--------------------------------------------------------------
# Initial
--------------------------------------------------------------*/
body {
  background: white; }

/* anchor
-----------------------------------------*/
a, a:link, a:visited, a:active {
  color: #000; }

a:hover {
  color: #000; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  color: #000; }

/* site-header-mask
-----------------------------------------*/
#images-mask {
  background: rgba(255, 255, 255, 0.6); }

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
#content {
  text-shadow: 1px 1px 0px #FFF; }

.site-title {
  border-color: #000; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar-nav > li:first-child > a {
  border-left: #000 1px solid; }

.navbar-nav > li > a {
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  border-right: #000 1px solid; }

.navbar-nav > li > a:hover {
  text-shadow: none;
  color: #FFF;
  background: rgba(0, 0, 0, 0.75); }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area .widget:first-child {
  border-top: #000 1px solid; }

.widget {
  border-left: #000 1px solid;
  border-right: #000 1px solid;
  border-bottom: #000 1px solid; }

/*--------------------------------------------------------------
# Enrty
--------------------------------------------------------------*/
.page-header {
  border-bottom: 1px solid #000; }

.entry-title {
  border-bottom: 1px solid #000; }

/*--------------------------------------------------------------
# Comment
--------------------------------------------------------------*/
.comments-area {
  border-top: 1px solid #000; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  border-top: 1px solid #000; }
